<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd"
       default-autowire-candidates="*Service,*ServiceImpl,*DAO,javax.sql.DataSource">

    <context:annotation-config/>
    <!-- allows us to use spring annotations in beans -->

    <!-- DatabaseLoader that creates LNE Entities during the ant update/install if they don't exist -->
    <bean id="addLNEEntities" class="com.atmire.dspace.database.AddLNEEntities"/>

    <bean id="relationshipTypeService" class="com.atmire.dspace.content.RelationshipTypeServiceImpl"/>
    <bean id="relationshipService" class="com.atmire.dspace.content.RelationshipServiceImpl"/>

    <bean id="recordService" class="com.atmire.dspace.content.RecordService"/>

    <bean id="relationshipObjectServiceFactory" class="com.atmire.dspace.content.RelationshipObjectServiceFactory">
        <property name="mapping">
            <util:map key-type="java.lang.Class" value-type="com.atmire.dspace.content.RelationshipObjectService">
                <entry key="com.atmire.dspace.content.Record" value-ref="recordService"/>
            </util:map>
        </property>
    </bean>

</beans>
